<a href="https://colab.research.google.com/github/alisony755/DS4400/blob/main/HW1/DS4400_HW1_Problem5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem 5

In [2]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [3]:
# Import Google Drive to upload data
from google.colab import drive
drive.mount('/content/drive')

# Read in data from file path
file_id = '1_hNHlID38Uf5lphkEyXVKz5_afFb1eve'
file_path = f"https://drive.google.com/uc?id={file_id}&export=download"
df_house = pd.read_csv(file_path)

# Drop unnecessary columns
df_house = df_house.drop(columns=['id', 'date', 'zipcode'])

# Print first few rows of data
df_house.head()

Mounted at /content/drive

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503

### 5.1

1. For each feature, write code to compute the average value, the min and max values, as well as its variance.
    
2. Which features have the lowest and the highest average? Include the feature name and their average values for the features with the lowest and highest average.
> **long has the lowest average value (-122.21389640494147) and price has the highest average value (540088.1417665294)**


    
3. Which features have the lowest and the highest variance? Include the feature name and their variance values for the features with the lowest and highest variance.
> **waterfront has the lowest variance (0.007485225502689098) and price has the highest variance (134782378397.24681)**

In [4]:
# Compute the average value, the min and max values, and variance for each feature
for column_name, column_data in df_house.items():
    print(f"{column_name} stats:")

    # Calculate the average value for a feature
    feature_mean = df_house[f"{column_name}"].mean()

    # Print the average value of the feature
    print(f"{column_name} average value: {feature_mean}")

    # Calculate the min value for a feature
    feature_min = df_house[f"{column_name}"].min()

    # Print the min value of the feature
    print(f"{column_name} min value: {feature_min}")

    # Calculate the max value for a feature
    feature_max = df_house[f"{column_name}"].max()

    # Print the max value of the feature
    print(f"{column_name} max value: {feature_max}")

    # Calculate the variance for a feature
    feature_var = df_house[f"{column_name}"].var()

    # Print the variance of the feature
    print(f"{column_name} variance: {feature_var}")
    print('\n')

price stats:
price average value: 540088.1417665294
price min value: 75000.0
price max value: 7700000.0
price variance: 134782378397.24681


bedrooms stats:
bedrooms average value: 3.37084162309721
bedrooms min value: 0
bedrooms max value: 33
bedrooms variance: 0.8650150097573724


bathrooms stats:
bathrooms average value: 2.1147573219821405
bathrooms min value: 0.0
bathrooms max value: 8.0
bathrooms variance: 0.5931512887355798


sqft_living stats:
sqft_living average value: 2079.8997362698374
sqft_living min value: 290
sqft_living max value: 13540
sqft_living variance: 843533.6813681519


sqft_lot stats:
sqft_lot average value: 15106.967565816869
sqft_lot min value: 520
sqft_lot max value: 1651359
sqft_lot variance: 1715658774.1754541


floors stats:
floors average value: 1.4943089807060566
floors min value: 1.0
floors max value: 3.5
floors variance: 0.29158800687709074


waterfront stats:
waterfront average value: 0.007541757275713691
waterfront min value: 0
waterfront max value: 1
waterfront variance: 0.007485225502689098


view stats:
view average value: 0.23430342849211122
view min value: 0
view max value: 4
view variance: 0.5872426169774596


condition stats:
condition average value: 3.4094295100171195
condition min value: 1
condition max value: 5
condition variance: 0.42346651239404876


grade stats:
grade average value: 7.656873178179799
grade min value: 1
grade max value: 13
grade variance: 1.3817032893475767


sqft_above stats:
sqft_above average value: 1788.3906907879516
sqft_above min value: 290
sqft_above max value: 9410
sqft_above variance: 685734.6672685045


sqft_basement stats:
sqft_basement average value: 291.5090454818859
sqft_basement min value: 0
sqft_basement max value: 4820
sqft_basement variance: 195872.66840094145


yr_built stats:
yr_built average value: 1971.0051357978994
yr_built min value: 1900
yr_built max value: 2015
yr_built variance: 862.7972621659717


yr_renovated stats:
yr_renovated average value: 84.40225790033776
yr_renovated min value: 0
yr_renovated max value: 2015
yr_renovated variance: 161346.2118623043


lat stats:
lat average value: 47.56005251931708
lat min value: 47.1559
lat max value: 47.7776
lat variance: 0.01919990179600803


long stats:
long average value: -122.21389640494147
long min value: -122.519
long max value: -121.315
long variance: 0.019832622017890593


sqft_living15 stats:
sqft_living15 average value: 1986.552491556008
sqft_living15 min value: 399
sqft_living15 max value: 6210
sqft_living15 variance: 469761.23994532274


sqft_lot15 stats:
sqft_lot15 average value: 12768.455651691113
sqft_lot15 min value: 651
sqft_lot15 max value: 871200
sqft_lot15 variance: 745518225.3404043

### 5.2

1. Compute the **correlation coefficient** of each feature with the response. **Include a table** with the correlation coefficient of each feature with the response.

2. Which features are positively correlated (i.e., have positive correlation coefficient) with the response?
> **All features are positively correlated with the response**



3. Which feature has the **highest positive correlation** with the response?
> **sqft_living has the highest positive correlation with the response, as its correlation coefficient (0.702035) is the closest to 1**

In [7]:
# Compute correlation matrix
corr_matrix = df_house.corr(numeric_only =True)

# Get correlations with response variable (price)
price_corr = corr_matrix['price'].drop('price').sort_values(ascending=False)

# Display correlation coefficient of each feature as a table
price_corr.to_frame(name = "Correlation with Price")

               Correlation with Price
sqft_living                  0.702035
grade                        0.667434
sqft_above                   0.605567
sqft_living15                0.585379
bathrooms                    0.525138
view                         0.397293
sqft_basement                0.323816
bedrooms                     0.308350
lat                          0.307003
waterfront                   0.266369
floors                       0.256794
yr_renovated                 0.126434
sqft_lot                     0.089661
sqft_lot15                   0.082447
yr_built                     0.054012
condition                    0.036362
long                         0.021626

### 5.3

1. Were you able to find any features with a negative correlation coefficient with the response?
> **No features showed a negative correlation with the price. All correlation coefficients were positive (> 0 ).**